<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taapesh.prototype" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HomepageCustomer"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RegisterCustomer"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".LoginCustomer"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BusinessLogin"
            android:label="@string/title_activity_business_login" >
        </activity>
        <activity
            android:name=".EmployeeLogin"
            android:label="@string/title_activity_employee_login" >
        </activity>
        <activity
            android:name=".EnterStorePassword"
            android:label="@string/title_activity_enter_store_password" >
        </activity>
        <activity
            android:name=".EmployeeHomepage"
            android:label="@string/title_activity_employee_homepage" >
        </activity>
        <activity
            android:name=".BusinessHomepage"
            android:label="@string/title_activity_business_homepage" >
        </activity>
        <activity
            android:name=".ViewStorefront"
            android:label="@string/title_activity_view_storefront" >
        </activity>
        <activity
            android:name=".Storefront"
            android:label="@string/title_activity_storefront" >
        </activity>
        <activity
            android:name=".StoreEntry"
            android:label="@string/title_activity_store_entry" >
        </activity>
    </application>

</manifest>
